<div class = "col-md-8">
  <%= search_form_for @q do |f| %>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :title_or_body_cont, 'タイトル＆本文' %>
          <%= f.search_field :title_or_body_cont, class: "form-control input-sm" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :category_cont, 'カテゴリー' %>
          <%= f.select :category_id_eq, options_from_collection_for_select(Category.all, :id, :title, @q.category_id_eq), class: "form-control input-sm" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 text-center">
        <%= f.submit "検索", class: "btn btn-default" %>
      </div>
    </div>
  <% end -%>

  <% @posts.reverse_each do |post| %>
    <div class = "article">
      <h2><%= post.title %></h2>
      <p><%= post.category.title %></p>
      <p><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></p>
      <br>
      <p><%= truncate(post.body, length: 50) %></p>
      <p>
        <%= link_to "続きを読む", post_path(post.id), class: 'btn btn-default' %>
      </p>
      <br>
      <%= link_to '編集する', edit_post_path(post.id), class: "btn btn-default" %>
      <%= link_to '削除する', post_path(post.id), :method => :delete, class: "btn btn-danger" %>
      <!-- <a href="posts/<%= post.id %>/edit" class = "btn btn-default">編集する</a> -->
      <!-- <a href="posts/<%= post.id %>/delete" class = "btn btn-danger">削除する</a> -->
    </div>
    <hr>
  <% end %>
  <%= paginate @posts %>
</div>



<div class = "col-md-4">
  <div class="thumbnail">
    <img src="<%= @writer.image_url %>" alt="著者イメージ">
    <div class="caption">
      <h3><%= @writer.name %></h3>
      <p><%= @writer.description %></p>
    </div>
  </div>

  <% index = 0 %>
  <% @posts.reverse_each do |post| %>
    <%# ６個目以上の記事の場合はBreak（each文をその場で終わらせる） %>
    <% if index >= 5
          break
       end
    %>
    <%# link_to post.title, post_path(post.id), class: "list-group-item" %>
    <a href="/posts/<%= post.id %>" class="list-group-item"><%= post.title %></a>
    <% index += 1 %>
  <% end %>
</div>





