<h1>記事登録フォーム</h1>
<%= form_for @post do |f| %>
  <p>
    Title：<br />
    <%= f.text_field :title %>
  </p>
  <p>
    Body：<br />
    <%= f.text_area :body %>
  </p>
  <p>
    Category：<br />
    <%= f.text_field :category %>
  </p>
  <%= f.submit "登録" %>
<% end %>
